/*@font-face {
	font-family: "";
	src: url("");
}*/

/*body {
	background-color: #FDFBF7;
	font-family: "", serif;
/*	margin: 0px;*/
/*padding-top: 50px;*/

/*#nav {
	background-color: #FDFBF7;

}*/

/*#footer {
	background-color: ;
	background-size: cover;
	text-align: center;
	line-height: 25px;
	padding: 10px;
}*/

body {
	background-color: #FDFBF7;
}
.nav-link {
	color: #000;
}

.nav-link.active {
	color: #095fd1;
}
.navbar {
	border-bottom: 1px solid #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.header {
	text-align: center;
	padding: 25px;
}